@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1>Listagem de contatos</h1>

<ead>
<tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">E-Mail</th>
    <th scope="col">Celular</th>
</tr>
  </thead>
<tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>marcos38alan@gmail.com</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>51994708393</td>
    </tr>
</tbody>
</table>